<mat-toolbar *ngIf="currentUser" [ngClass]="toolbarClass" [color]="toolbarColor">
    <span (click)="redirectToHome()" style="outline: none; cursor: pointer;">
        <img src="assets/images/ttlNewLogo.svg" width="170" alt="">
    </span>
    <span class="main-title mobile-hidden">
        {{title ? title : ''}}
        <small class="sub-title">{{subTitle}}</small>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <span>
        <span class="username mobile-hidden">
            Welcome! {{currentUser.name}}
        </span>
    </span>
    <span>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>{{currentUser.name}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <!-- {{isChecked == 'false' ? 'Enable dark theme':'Disable dark theme'}} -->
                <mat-slide-toggle [checked]="isChecked" color="primary" (change)="onSubmit()">Dark Mode
                </mat-slide-toggle>
            </button>
            <!-- <button mat-menu-item>
                <mat-icon>brightness_4</mat-icon>
                <mat-checkbox [checked]="isChecked" color="warn" (change)="onSubmit()">Dark
                    Mode</mat-checkbox>
            </button> -->


        </mat-menu>
    </span>
    <span>
        <button mat-button class="btn-nav" (click)="isLeftNavEnabled()">
            <mat-icon>subject</mat-icon>
        </button>
    </span>
    <span>
        <button mat-button class="btn-nav" (click)="isRightNavEnabled()">
            <mat-icon>notes</mat-icon>
        </button>
    </span>
</mat-toolbar>